body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* header */
#header {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(img/background.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.user-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-box img {
    width: 250px;
    border-radius: 50%;
    border: 2px solid #6caed5;
}

.user-box h1 {
    color: #fff;
    margin: 10px;
    font-weight: bold;
}

.user-box p {
    color: #fff;
}

.scroll-btn {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #fff;
    padding: 10px 10px 20px;
    border-radius: 30px;
}

.scroll-bar span {
    border: 2px solid #fff;
    border-radius: 30px;
    font-size: 10px;
}

.scroll-bar {
    animation: mover is infinite alternate;
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(10px); }
}

/* about */
.about {
    padding-top: 100px;
    padding-bottom: 50px;
}

.profile-img {
    height: 300px;
}

.nav-bar {
    top: 0;
    position: sticky;
    z-index: 2;
}

.nav-bar {
    background-color: #000000;
}

.navbar-brand img {
    height: 50px;
}

.nav-bar .fa-bars {
    font-size: 30px;
    color:#fff;
}